html, body {
  margin: 0;
  padding: 0;
}

.row {
	position: fixed;
	width: 100%;
}

.contain {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  color: red;
}

.jumbotron {
   background: url(D:/Website/images/despicable.jpg) no-repeat center center;
   background-size: cover;
   height: 800px;
}

.header {
  background-color: #333;
}

.class-nav {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
}

.class-nav p {
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-right: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.class-nav p a:hover {
	background: black;
        color: red;
}

.class-nav p a:active {
	background: black;
        color: red;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
  margin-top: 50px;
}

.page-name {
  font-family: Audrey, Franchise, serif;
  font-weight: bold;
  font-size: 110px;
  margin-top: 0;
  margin-bottom: 100px;
  word-spacing: 0.4em;
}
.main h2 {
	color: black;
	font-size: 40px;
	margin: 20px;
	font-style: italic;
	margin-left: 300px;
	margin-top: 100px;
}

.vert-line {
	border-bottom: thick solid #ff0000;
	text-align: center;
	padding: 10px;
	color: steelblue;
}


.MBP {
	text-align: center;
	font-family: Franchise, Audrey;
}
.MBP p {
	font-size: 19px;
}

.workout-inline {
	font-family: Franchise;
	font-size: 17px;
	text-align: center;
}

#div3 {
	font-family: Franchise;
	font-size: 17px;
	text-align: center;
}

.btn-main {
  background-color: #333;
  color: red;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 30px;
  
}
.end {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  width: 100%;
}

.end p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
